<div id="wp-rest-api-container">
	<div class="row">
		<div class="small-12">
      <h3>Post Title: {{ postTitle }}<br></h3>
    </div>
    
    <div class="small-12">
      <h3>The Content: {{ postContent }}<br></h3>
    </div>
	</div>

  <div class="row">
    <div class="small-12">
      Search Posts:
    </div>
    <input (keyup)="searchTerm$.next($event.target.value)">
  </div>
  <div class="row" *ngIf="postResults">
    <div class="small-12" *ngFor="let result of postResults">
      <h3> Found Post Name: <a href="http://localhost:4200/wp-api/posts/{{ result.id }}" >{{ result.title.rendered }}</a></h3>
      <p>Post ID: {{ result.id }}</p>
    </div>
  </div>
  
</div>
