@import '~assets/foundation-sites/_settings';

.star-wars-container {
    background-color: #deedee;
    // background-image: url('~assets/images/Star_Wars_Logo.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}