
<div id="star-wars-container">
	<div class="row">
		<div class="small-12">
			<h3>Data from Star Wars API https://swapi.co/</h3>
		</div>
		<div class="small-12 medium-6">
			<div>
				Random Person Name: {{ initProfilesName }}<br>
				{{ initProfilesName }}'s Height: {{ initProfilesHeight }}<br>
				{{ initProfilesName }}'s Gender: {{ initProfilesGender  }}<br>
				{{ initProfilesName }}'s Mass: {{ initProfilesMass  }}
			</div>

			Search People:
			<input (keyup)="searchTerm$.next($event.target.value)">

			<div class="row" *ngIf="peopleResults">
				<div class="small-12" *ngFor="let result of peopleResults">
					<h3> Found Person Name: <a href="http://localhost:4200/star-wars-api/people/{{ result.name }}" >{{ result.name }}</a></h3>
					<p>{{ result.name }}'s Gender: {{ result.gender }}</p>
					<p>{{ result.name }}'s Hair Colour: {{ result.hair_color }}</p>
					<p>{{ result.name }}'s Skin Colour: {{ result.skin_color }}</p>
					<p>{{ result.name }}'s Eye Colour: {{ result.eye_color }}</p>
				</div>
			</div>
		</div>

		<div class="small-12 medium-6">
				<div>
					Random Planet Name: {{ initPlanetName }}<br>
					{{ initPlanetName }}'s Population: {{ initPlanetPop }}
				</div>
			Search Planets:
			<input (keyup)="planetTerm$.next($event.target.value)">

			<div class="row" *ngIf="planetResults">
				<div class="small-12" *ngFor="let planetResult of planetResults">
					<h3> Found Planet Name: <a href="http://localhost:4200/star-wars-api/planets/{{ planetResult.name }}" >{{ planetResult.name }}</a></h3>
					<p>{{ planetResult.name }}'s Climate: {{ planetResult.climate }}</p>
					<p>{{ planetResult.name }}'s Population: {{ planetResult.population }}</p>
					<p>{{ planetResult.name }}'s Terrain: {{ planetResult.terrain }}</p>
				</div>
			</div>
		</div>
	</div>
</div>
