
<div class="row">
  <nav class="small-12">
    <ul class="menu row">
      <li class="">
        <a routerLink="/" routerLinkActive="active">Home</a>
      </li>

      <li class="">
        <a class="" routerLink="/wp-api" routerLinkActive="active">WP Rest API</a>
      </li>

      <li class="">
        <a routerLink="/star-wars-api" routerLinkActive="active">Star Wars Api</a>
      </li>
  
    </ul>
  </nav>
</div>
<div class="row">
  <h1>Welcome to REST API Tests</h1>
</div>

<router-outlet></router-outlet>